body {
    background-color: #e4e978;
    color: #5c6e91;
    padding: 0px;
    margin: 0px;
}

section {
    color: #4c7658;
}

article {
    width: 700px;
    padding: 5px 15px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
}

section > article {
    font-style: italic;
}