@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0;
}


.viewport {
    height: 100vh;
    position: relative;
}

.viewport:nth-child(1) {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.viewport:nth-child(2) {
    background: linear-gradient(90deg, rgba(0,193,194,1) 0%, rgba(0,255,109,1) 100%);
}

.card {
    width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid rgb(255,255,255,0.5);
    box-shadow: 0 0 1em 0.2em rgb(0, 0, 0, 0.2);
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}